/*navbar*/
.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  box-shadow: 0 3px #e1e1e1;
}

.box {
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-left: 12px;
}
.search {
  justify-content: center;
  align-items: center;
  flex: 2;
}
.logoText {
  font: futura;
  font-style: italic;
  font-weight: 2rem;
  color: #006400;
  font-size: 40px;
}

.searchBar {
  display: inline-block;
  width: 400px;
  height: 48px;
  background: transparent;
  outline: none;
  font-size: 12pt;
  padding: 4px 28px 4px 4px;
  vertical-align: middle;
  border-radius: 8px;
  border-color: #d3d3d3;
}

.searchBtn {
  background: transparent;
  border: none;
  position: relative;
  right: 28px;
  fill: white;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  cursor: pointer;
}

.img {
  height: 100%;
}

.suggestion {
  display: inline-block;
}

/*footer*/
.footer {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer a {
  display: flex;
  color: blue;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer p {
  position: relative;
  margin: 0;
  font-weight: 1.8rem;
  padding: 1rem;
}

/*body*/

.body {
  min-height: 80vh;
  padding-top: 12px;
}

.container {
  justify-content: center;
  display: flex;
  align-items: center;
  max-width: '800px';
  margin: 0px auto;
}

.gridContainer {
  display: grid;
  column-gap: 16px;
  grid-template-columns: auto auto auto;
  padding: 24px;
  row-gap: 16px;
  background-color: #f8f8f8;
  margin-left: 250px;
  margin-right: 250px;
}

.gridItem {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  display: flex;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
}

.gridItem:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
