/*navbar*/
.navbar {
  height: 60px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  box-shadow: 0 3px #e1e1e1;
}

.box {
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-left: 12px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.logoText {
  font: futura;
  font-style: italic;
  font-weight: 2rem;
  color: #006400;
  font-size: 40px;
}

.searchBar {
  display: inline-block;
  width: 400px;
  height: 40px;
  background: transparent;
  outline: none;
  font-size: 12pt;
  padding: 4px 28px 4px 4px;
  vertical-align: middle;
  border-radius: 8px;
  border-color: #d3d3d3;
}

.searchBtn {
  background: transparent;
  border: none;
  position: relative;
  right: 28px;
  fill: white;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  cursor: pointer;
}

.img {
  height: 30px;
  bachground: #ffffff
}

.suggestions {
  justify-content: center;
  align-items: center;
  display: flex;
  background: #ffffff;
  cursor: pointer;
}

.suggestions p {
  display: inline-block;
  width: 300px;
  height: 40px;
  background: #ffffff;
  outline: none;
  font-size: 12pt;
  padding: 4px 28px 4px 4px;
  vertical-align: middle;
}

/*footer*/
.footer {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer a {
  display: flex;
  color: blue;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer p {
  position: relative;
  margin: 0;
  font-weight: 1.8rem;
  padding: 1rem;
}

/*body*/

.body {
  min-height: 80vh;
  padding-top: 72px;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.gridContainer {
  display: grid;
  column-gap: 16px;
  grid-template-columns: auto auto auto;
  padding: 24px;
  row-gap: 16px;
  background-color: #f8f8f8;
  margin-left: 250px;
  margin-right: 250px;
}

.gridItem {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  height: 350px;
}

.gridItem button {
  background-color: #17a030;
  border: none;
  width: 96px;
  height: 32px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 2.1rem;
}

.gridItem h5 {
  font-size: 20px;
  font-weight: 550;
}

.gridItem h6 {
  font-size: 18px;
  font-weight: 600;
  color: #f9761c;
  padding-bottom: 12px;
}

.gridItem p {
  font-size: 16px;
}

.cardImage {
  height: 140px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.imageProps {
  width: 100%;
  height: 120px;
}

.cardDetails {
  height: 96px;
  padding-top: 8px;
}

.gridItem:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .gridContainer {
    display: grid;
    column-gap: 12px;
    grid-template-columns: auto auto auto;
    padding: 16px;
    row-gap: 12px;
    background-color: #f8f8f8;
    margin-left: 150px;
    margin-right: 150px;
  }
  
}

/* Mobile Devices */
@media (max-width: 700px) {
  .gridContainer {
    display: grid;
    column-gap: 12px;
    grid-template-columns: auto auto;
    padding: 16px;
    row-gap: 12px;
    background-color: #f8f8f8;
    margin-left: 8px;
    margin-right: 8px;
  } 

  .logoText {
    display: none
  }
  .box {
    display: none
  }

  .searchBar {
    display: inline-block;
    width: 320px;
    height: 32px;
    background: transparent;
    outline: none;
    font-size: 12pt;
    vertical-align: middle;
    padding-y: 4px;
    border-radius: 8px;
    border-color: #d3d3d3;
  }
}